[submodule "third_party/vectorz"]
	path = third_party/vectorz
	url = https://github.com/mikera/vectorz.git
[submodule "app/libs/mediapipe"]
	path = app/libs/mediapipe
	url = git@github.com:google/mediapipe.git
